<body>

    <div class="login-box animated fadeIn fast">
        <h2 class="animated fadeIn fast">Registrarse en Afasia</h2>
        <hr>
        <form>

            <label class="animated fadeIn" for="username">Usuario:
                <input type="text" placeholder=" Introduzca su nombre de usuario">
            </label>
            <label class="animated fadeIn" for="password">Contraseña:
                <input type="password" placeholder=" Introduzca la contraseña">
            </label>
            <label class="animated fadeIn" for="email">Mail:
                <input type="email" placeholder=" Introduzca su mail">
            </label>
            <input class="animated fadeIn" type="submit" value="Registrarse">
        </form>
    </div>
</body>