<body style="background-color: darkslategray;">


    <div class="container animated fadeIn">
        <a routerLink="#" class="card-title" id="enlace">
            <div class="card" style="width: 18rem;" id="menuCards">
                <img src="/assets/img/afasia.jpg" class="card-img-top" alt="Imagen de afasia" id="img" height="170.34px">
                <div class="card-body">
                    <h5>¡Empezar a practicar!</h5>
                </div>
            </div>
        </a>
        <a routerLink="#" class="card-title" id="enlace">
            <div class="card" style="width: 18rem;" id="menuCards">
                <img src="/assets/img/rendimiento.png" height="170.34px" class="card-img-top" id="img" alt="Imagen de rendimiento">
                <div class="card-body">
                    <h5>Ver rendimiento</h5>
                </div>
            </div>
        </a>

        <!--<div class="card text-center" style="width: 18rem;" id="menuCards" href="#">
        <img src="/assets/img/maps.png" height="170.34px" class="card-img-top" alt="Imagen de contactanos">
        <div class="card-body">
          
          <p>Contactanos</p>
        </div>
    </div>-->

    </div>
</body>